HH-white-paper.aux
HH-white-paper.bbl
HH-white-paper.bcf
HH-white-paper.blg
HH-white-paper.fdb_latexmk
HH-white-paper.fls
HH-white-paper.log
HH-white-paper.pdf
HH-white-paper.run.xml
HH-white-paper.toc